.container {
    width: 800px;
    height: 540px;
    margin: auto;
    border-style: solid;
    position: relative;

}

.background {
    width: 800px;
    height: 540px;
    margin: auto;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    pointer-events: none;
}

#tree {
    width: 800px;
    height: 540px;
    top: 0px;
    left: 0px;
    z-index: 0;
    position: absolute;
    pointer-events: none;
}

#blue {
    position: absolute;
    top: 250px;
    left: 100px;
    z-index: 2;
}


#darkblue {
    position: absolute;
    top: 280px;
    left: 180px;
    z-index: 2;
}

#pink {
    position: absolute;
    top: 200px;
    left: 280px;
    z-index: 2;
}

#green {
    position: absolute;
    top: 190px;
    left: 300px;
    z-index: 2;
}

#orange{
    position: absolute;
    top: 150px;
    left: 480px;
    z-index: 2;
}

#pink {
    position: absolute;
    top: 280px;
    left: 500px;
    z-index: 0;
}

